/* shared style  */
* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
}

.pColor {
    color: #F00;
    font-family: Inter;
    font-size: 32px;
}

.pBtn {
    text-decoration: none;
    font-family: Inter;
    /* outline: none; */
    padding: 10px 32px;
    color: white;
    border: 0;
    border-radius: 8px;
    background: #F00;
    margin-top: 48px;
}

/* banner style start */
.banner {
    background-image: url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerContent {
    color: #FFF;
    text-align: center;
}

.bannerContent h1 {
    font-size: 72px;
}

.bannerContent h3 {
    font-size: 32px;
}

/* banner style end */

/* All categories start */
.allCategories {
    width: 1320px;
    margin: 50px auto;
    text-align: center;
}

.categoriesContent h1 {
    color: #F00;
    font-size: 88px;
    margin: 0px;
    padding-bottom: 40px;
}

.categoriesContent p {
    color: #F00;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.categoriesContent h3 {
    color: #070211;
    padding-bottom: 40px;
    font-size: 48px;
}

/* midNight party */
.midnightParty {
    background-image: url(../resources/Vectorrr.png);
    width: 1320px;
    margin: 50px auto;
    /* padding: 70px; */
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 15px 15px;
}

.partyConten {
    width: 642px;
}

.partyConten h1 {
    color: #FFF;
    font-size: 64px;
    letter-spacing: 7.04px;
}

.partyConten p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 45px;
}

.partyConten a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-family: Inter;
    padding-left: 30px;
}

/* location part start */
.location {
    background-color: #e7646425;
    width: 1320px;
    height: 482px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.locationContent {
    text-align: center;
}

.locationContent h3 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
}

/* .location part end */

/* offer part start */
.offer {
    width: 1320px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offerConten {
    width: 470px;
}

.offerConten h4 {
    font-family: Inter;
    font-size: 24px;
    padding-bottom: 10px;
}

.offerConten h3 {
    color: #070211;
    font-size: 48px;
    padding-bottom: 22px;
}

.offerConten p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
}

.offerImg {
    width: 364.844px;
    height: 364.844px;
}

.offerYear {
    width: 400px;
}

.yearImg {
    margin-top: 55px;
}

/* holyday sales start */
.holidaySales {
    width: 1320px;
    margin: 50px auto;
}

.holidayContent {
    text-align: center;
}

.holidayContent h4 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
}

.holidayContent h1 {
    color: #070211;
    font-size: 72px;
    margin-bottom: 30px;
}

.holidayContent p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    margin-bottom: 64px;
}

.holidayImg {
    display: flex;
    flex-direction: column;
}

.holidayImgTop {
    display: flex;
}

.holidayImgTop .right {
    display: flex;
}

.holidayImgTop .right .first {
    width: 206.841px;
    height: 206.841px;
    flex-shrink: 0;
}

.holidayImgTop .right .sec img {
    border-radius: 16px 16px 0px 0px;
    width: 429px;
    height: 433px;
    /* border-radius: 16px 16px 0px 0px; */
}


/* protfolio part start */
.protfolio {
    width: 1320px;
    margin: 50px auto;
}

.protfolio .portfoliContent h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    padding: 16px 0 22px 0;
}

.portfoliContent p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    margin-bottom: 48px;
}
.protfolio .portfolioImg .firstImg{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.protfolio .firstImg img{
    width: 400px;
    height: 450px;
}