/* shared style  */
.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}

.banner {
    background-image: url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerContent{
    color: #FFF;
    text-align: center;
}
.bannerContent h1{
    font-size: 72px;
}
.bannerContent h3{
    font-size: 32px;
}