/* shared style  */
*{
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
}

/* banner style start */
.banner {
    background-image: url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerContent {
    color: #FFF;
    text-align: center;
}

.bannerContent h1 {
    font-size: 72px;
}

.bannerContent h3 {
    font-size: 32px;
}
/* banner style end */

/* All categories start */
.allCategories {
    width: 1320px;
    margin: 50px auto;
    text-align: center;
}

.categoriesContent h1 {
    color: #F00;
    font-size: 88px;
    margin: 0px;
    padding-bottom: 40px;
}

.categoriesContent p {
    color: #F00;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.categoriesContent h3 {
    color: #070211;
    padding-bottom: 40px;
    font-size: 48px;
}